---
import { Icon } from 'astro-icon/components'
import Card from '../generic/card.astro'

interface Properties {
  title: string
  description: string
  link: string
  linkText: string
}

const { title, description, link, linkText } = Astro.props as Properties
---

<a href={link}>
  <Card hover={true}>
    <h3>{title}</h3>
    <p>{description}</p>

    <span>
      {linkText}
      <Icon name="fa6-solid:arrow-right" class="link-icon" />
    </span>
  </Card>
</a>

<style lang="scss">
  @use '@/scss/mixins' as *;

  a {
    display: flex;
  }

  a:hover h3 {
    @include text-color(primary);
  }

  :where(p, a) {
    @include font-size(sm);
  }

  h3 {
    @include increase-letter-spacing(0.5);
    margin-bottom: 1rem;
    transition: color 0.3s;
  }

  p {
    @include text-color(muted);
    margin-bottom: 2rem;
    flex-grow: 1;
  }

  span {
    display: inline-flex;
    align-items: center;
    gap: 0.25rem;
    @include font-sans-bold;
    @include increase-letter-spacing;
    @include text-color(muted);
    transition:
      transform 0.3s ease,
      color 0.3s ease;
  }

  a:hover span {
    @include text-color(primary);
    transform: translateX(0.325rem);
  }

  .link-icon {
    font-size: 1.15em;
  }
</style>
